@model IEnumerable<Entities.Dtos.User.UserDetailDto>


<a class="btn btn-primary" >Add</a>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>UserName</td>
            <td>FirstName</td>
            <td>LastName</td>
            <td>Gender</td>
            <td>Doğrm Tarihi</td>
            <td>Adres</td>
            <td>İşlemler</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.UserName</td>
             
            </tr>

        }
    </tbody>
</table>